version: 2.0
jobs:
  test:
    docker:
      - image: python:latest
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.txt
      - run:
          name: Running tests
          command: python tests.py
      - persist_to_workspace:
          root: .
          paths:
            - .
  dockerize:
    machine: true
    steps:
      - attach_workspace:
          at: .
      # Login to docker
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS

      # build the application image
      - run: docker build -t $DOCKER_USER/codechan:$CIRCLE_SHA1 .

      # deploy the image
      - run: docker push $DOCKER_USER/codechan:$CIRCLE_SHA1

workflows:
  version: 2
  flow:
    jobs:
      - test
      - dockerize:
          requires:
            - test
