
<!DOCTYPE html>
<html lang="en">
<head>
	{% if title %}
        <title>{{ title }} - CoDe Academy</title>
        {% else %}
        <title>CodeChan | makes your life happy</title>
        {% endif %}
		<meta charset ="UTF-8">
		
		<link rel = "stylesheet" type="text/css" href = "http://student.cs.hioa.no/~s301599/sunit/style.css">
		<link rel = "stylesheet" type="text/css" href = "http://student.cs.hioa.no/~s301599/sunit/styletilcontent.css">
		
		
</head>

<body class = "body">

	<header>
		<nav>
			<img src="http://logos.textgiraffe.com/logos/logo-name/Chan-designstyle-boots-m.png">
		</nav>
	</header>

	
	<div class = "content">
		<section>
			<hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
			
			
		</section>
		
	</div>
<body>

</html>
