{% extends "base.html" %}
{% block content %}
<h1>Welcome to CoDe-chan!</h1>
    {% for post in posts %}
    <div><p><b>{{ post.title }}</b> by <i>{{ post.user_name }}</i> <br />
        {{ post.body }}</p>
    </div>
    {% endfor %}
    <hr>
    Write your post here: <br />
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}
        
        {{ form.user_name(size=30, maxlength=140) }}<br />
        {{ form.title(size=30, maxlength=140) }}<br />
        {{ form.body(size=30, maxlength=140) }}<br />
        <br />
        <input type="submit" value="Post!"></br>
    </form>
{% endblock %}
